.mainWrapper {
  display: flex;
  flex-direction: row;
}

.verticalWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topMenu {
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  .topMenuLeftPart {
    display: flex;
    align-items: center;

    h3 {
      border-right: 2px solid white;
      padding-right: 15px;
    }
  }

  .topMenuItems {
    display: flex;

    a {
      margin-left: 10px;
      text-decoration: none;
      color: var(--light-text);
      transition: color 150ms;

      &:hover {
        color: var(--dark-text);
      }
    }
  }

  h3 {
    color: white
  }
}

.childrenWrapper {
  padding: 15px;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //transition: width 250ms;
  transition: all 500ms;

  &:hover {
    width: 300px;

    .imageContainer {
      img {
        object-fit: contain;
        width: 130px;
        height: auto;
      }
    }
  }

  .imageContainer {
    padding: 25px 0;

    img {
      transition: width 250ms, height 250ms;
      object-fit: contain;
      width: 80px;
      height: auto;
    }
  }

  .items {
    width: 80%;
    height: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .item {
      cursor: pointer;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 10px;
      color: var(--light-text);
      text-decoration: none;

      &.active {
        background-color: #ffffff11
      }

      &:hover {
        background-color: #ffffff11
      }

      span {
        font-size: 22px;
        color: white;
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}