.mainWrapper {
  display: flex;
  flex-direction: row;
}

.verticalWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topMenu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  left: 100px;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;

  .topMenuLeftPart {
    display: flex;
    align-items: center;

    h3 {
      border-right: 2px solid white;
      padding-right: 15px;
    }
  }

  .topMenuItems {
    display: flex;

    a {
      margin-left: 10px;
      text-decoration: none;
      color: var(--light-text);
      transition: color 150ms;

      &:hover {
        color: var(--dark-text);
      }
    }
  }

  h3 {
    color: white
  }
}

.childrenWrapper {
  position: relative;
  top: 50px;
  left: 100px;
  padding: 15px;
  overflow: hidden;
  max-width: calc(100vw - 100px);
  min-height: 100vh;
}

.sidebar {
  height: 100vh;
  width: 100px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: all 500ms;

  //&:hover {
  //  width: 300px;
  //
  //  .imageContainer {
  //    img {
  //      object-fit: contain;
  //      width: 130px;
  //      height: auto;
  //    }
  //  }
  //
  //  .items .item span {
  //    display: block;
  //  }
  //}

  .imageContainer {
    padding: 25px 0;

    img {
      transition: width 250ms, height 250ms;
      object-fit: contain;
      width: 80px;
      height: auto;
    }
  }

  .items {
    width: 80%;
    height: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    .item {
      cursor: pointer;
      border-radius: 10px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      color: var(--light-text);
      text-decoration: none;

      &.active {
        background-color: #ffffff11
      }

      &:hover {
        background-color: #ffffff11
      }

      span {
        display: none;
        color: white;
      }

      .itemIcon {
        fill: white;
        margin-right: 10px;
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}