.outerContainer {
  position: fixed;
  z-index: 99;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #00000088;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  position: relative;
  z-index: 999;
  background-color: var(--dark-background);
  border-radius: var(--border-radius-medium);
  padding: 25px;
  min-width: min(80vw, 450px);
  min-height: min(50vh, 450px);
  max-width: 600px;
}

