.trigger {
  border-radius: 50%;
  padding: 5px;

  svg {
    transition: all 100ms;
  }

  &:hover {
    background: #c9c9c9 !important;
    svg {
      fill: var(--primary-color);
    }
    scale: 1.05;
  }
}
