@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ececec;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.status-PAUSED{
    background-color: #f97316
}

.status-ACTIVE {
    background-color: #22c55e;
}

/* .ReactChart {
    max-height: 350px !important;
    min-height: 350px !important;
} */
