@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0f0f3;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}

.status-PAUSED{
    background-color: #f97316
}

.status-ACTIVE {
    background-color: #22c55e;
}
