.menuWrapper {
  max-width: 100vw;
  height: 60px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;

  .menuLogo {
    display: flex;
    align-items: center;

    h1 {
      color: var(--light-text);
      margin-left: 15px;
    }
  }

  .menuItems {
    display: flex;

    a, span {
      cursor: pointer;
      color: var(--light-text);
      text-decoration: none;
      margin-left: 15px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;

  .continueCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--primary-color);
    border-radius: var(--border-radius-medium);
    padding: 25px;

    h2 {
      text-transform: uppercase;
    }

    h3 {
      font-size: 12px;
    }

    button {
      margin-top: 50px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}