.descriptionWrapper {
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

    svg {
      margin-left: 10px;
    }
  }

  .description {
    font-size: 14px;
    font-weight: lighter !important;
    color: var(--dark-text);

    &.smallDescription {
      font-size: 12px;
    }
  }

  textarea {
    border: 1px solid var(--dark-border);
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: var(--border-radius-small);
    min-height: 50px;
    margin-bottom: 5px;
  }

  .actionButtons {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;

      &.outline {
        border-color: red;
      }
    }
  }
}