.textareaWrapper {
  margin: 15px 0;
  max-width: 400px;

  span {
    display: block;
    font-weight: bolder;
  }
}

.descriptionWrapper {
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      margin-left: 10px;
    }
  }

  .description {
    font-size: 16px;
    font-weight: lighter !important;
    color: var(--dark-text);
  }

  textarea {
    border: 1px solid var(--light-text);
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    border-radius: var(--border-radius-small);
    min-height: 50px;
    margin-bottom: 5px;
  }

  .actionButtons {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;

      &.outline {
        border-color: red;
      }
    }
  }
}