@import 'typography.scss';

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-text);
}

body {
  background-color: #ececec;
}


:root {
  --primary-color: #001F3B;
  --secondary-color: #bb17cc;
  --dark-text: #545454;
  --light-text: #efefef;

  /* BACKGROUNDS */
  --dark-background: #091423;

  /* BORDERS */
  --dark-border: #9f9f9f;

  --blue-background: rgba(0, 90, 155, 0.18);
  --green-background: rgba(0, 155, 62, 0.18);

  --border-radius-small: 5px;
  --border-radius-medium: 10px;
}

.user-image {
  border-radius: 50%;
}

// BUTTONS
button {
  font-weight: bold;
  cursor: pointer;
  transition: all 150ms;
  display: flex;
  align-items: center;

  &.text {
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    color: var(--primary-color);
    text-transform: uppercase;

    &.small {
      font-size: 12px;
      padding: 4px 8px;
      font-weight: bolder;
    }

    &:hover {
      color: #6e6e6e;
    }
  }

  &.icon {
    background: none;
    border: none;
    outline: none;
  }

  &.filled {
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: var(--border-radius-small);
    border: none;
    outline: none;
    color: var(--light-text);

    &:hover {
      opacity: 0.8;
    }

    &.small {
      font-size: 12px;
      font-weight: normal;
      padding: 4px 8px;
    }
  }

  &.outline {
    outline: none;
    border: 1px solid var(--primary-color);
    background: none;
    padding: 8px;
    border-radius: var(--border-radius-small);
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: var(--light-text);
    }

    &.small {
      font-size: 12px;
      padding: 4px 8px;
      font-weight: normal;
    }
  }
}

// LAYOUT
.content {
  max-width: 800px;
  margin: auto;
}

// GRIDS
.grid {
  .header {
    height: 50px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .line-basic {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }

  .line {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 15px;
    margin-bottom: 25px;
    border-radius: var(--border-radius-small);
  }
}


.link {
  color: var(--dark-text);
  text-decoration: none;
}

.heading-2 {
  font-size: 32px;
  font-weight: bold;
}

.form-input {
  margin-bottom: 25px;
}

.unstyled-text-field, {
  height: 100%;
  display: flex;
  align-items: center;

  input, input:focus-visible {
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
  }

  &.large {
    input, input:focus-visible {
      font-size: 22px
    }
  }
}

/* MARGINGS */
.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}


.popper-container {
  border-radius: var(--border-radius-small);
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px #00000033;
  display: flex;
  flex-direction: column;
}

/* TEXT AREA */
textarea {
  border-radius: var(--border-radius-small);
  border: none;
  outline: none;
  padding: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;

  &.text {
    padding: 0;
    border-radius: 0;
    min-height: unset;
  }
}

input {
  color: var(--dark-text);

  &.filled {
    padding: 5px;
    border: none;
    outline: none;
    border-radius: var(--border-radius-small)
  }

  &.entity-name {
    width: auto;
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--primary-color);

    transition: all 100ms;

    &:focus {
      border-bottom: 2px solid #cd38ff;
    }
  }

  &.outline {
    outline: none;
    padding: 5px;
    background: none;
    border-radius: var(--border-radius-small);
    border: 1px solid var(--primary-color);

    &.light {
      border-color: var(--light-text);
      color: var(--light-text);
    }
  }

  &.text {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    &.question-title {
      font-size: 22px;
    }
  }
}


.arrow {
  display: none;
}

.drag-something {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


.checkbox {
  cursor: pointer;

  span {
    color: var(--primary-color);
    padding-left: 10px;
  }

  input {
    height: 16px;
    width: 16px;
  }
}


.checkbox > input:active {
  border: 2px solid #34495E;
}
