body, * {
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Courier, monospace;
  color: var(--dark-text)
}

body {
  background-color: lightgray;
}


:root {
  --primary-color: #001F3B;
  --dark-text: #545454;
  --light-text: #efefef;

  /* BACKGROUNDS */
  --dark-background: #091423;

  --border-radius-small: 5px;
  --border-radius-medium: 10px;
}

.link {
  color: var(--dark-text);
  text-decoration: none;
}

.heading-2 {
  font-size: 32px;
  font-weight: bold;
}

.form-input {
  margin-bottom: 25px;
}

.unstyled-text-field, {
  height: 100%;
  display: flex;
  align-items: center;

  input, input:focus-visible {
    font-size: 14px;
    border: none;
    outline: none;
    font-weight: bold;
  }

  &.large {
    input, input:focus-visible {
      font-size: 22px
    }
  }
}

/* MARGINGS */
.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}


.popper-container {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px #00000033
}
