.button {
  cursor: pointer;
  font-weight: bold;
  transition: all 100ms;

}

.filled {
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: var(--border-radius-small);
  border: none;
  outline: none;
  color: var(--light-text);

  &:hover {
    opacity: 0.8;
  }
}

.outlined {
  background: none;
  border: 1px solid black;
}

.text {
  background: none;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--primary-color);
  text-transform: uppercase;

  &:hover {
    color: #6e6e6e;
  }
}
