.filled {
  background-color: lightblue;
}

.outlined {
  background: none;
  border: 1px solid black;
}

.text {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;

  &:hover {
    color: #6e6e6e;
  }
}
